<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Buisiness_Contacts.Properties.Settings.ContactsDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\ContactsDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>